extends layout

block content
    table.table.table-bordered.table-hover
        thead
            tr
                th Company
                th City
                th Region
                th Country
                th Date
        tbody
