extends layout

block content
    div.bc4.rounded-corner
        form.form-horizontal.c9.p-32
            div.form-group
                label.col-sm-2.control-label Company
                div.col-sm-8
                    input(type='text', class='form-control', placeholder='Company\'s Name')
            div.form-group
                label.col-sm-2.control-label Job Title
                div.col-sm-8
                    input(type='text', class='form-control', placeholder='Software Engineer')
            div.form-group
                label.col-sm-2.control-label City
                div.col-sm-8
                    input(type='text', class='form-control', placeholder='Vancouver')
            div.form-group
                label.col-sm-2.control-label Region
                div.col-sm-8
                    input(type='text', class='form-control', placeholder='British Columbia')
            div.form-group
                label.col-sm-2.control-label Country
                div.col-sm-8
                    input(type='text', class='form-control', placeholder='Canada')
            div.form-group
                label.col-sm-2.control-label Comment
                div.col-sm-8
                    input(type='text', class='form-control', placeholder='I heard it\'s and awesome place')
            div.form-group
                label.col-sm-2.control-label Date Started
                div.col-sm-8
                    input(type='datetime-local', class='form-control')