body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
* COLORS
*/
.bc3 {
    background-color: #2b4a6f;
}

.bc4 {
    background-color: #A5373F;
}

.c6 {
    color: #f9ac33;
}

.c9 {
    color: #FE0013;
}

.rounded-corner {
    border-radius: 8px;
}


/*
*   MARGIN AND PADDING
*/
.p-32 {
    padding: 32px;
}